<h2 style="font-weight:200;">Utilising Firebase API with Angular</h2>

<div ng-controller="firebaseCtrl">
	<div ng-repeat="msg in messages"><em>{{msg.from}}</em>: {{msg.body}}</div>

	<h3 style="font-weight:200;">Add an employee to firebase</h3>
	
	<div class="well">
		<label for="employeeName">Employee Name</label>
		<input type="text" id="employeeName" ng-model="employeeName"><br>
		<label for="employeeName">Employee Age</label>
		<input type="text" id="employeeAge" ng-model="employeeAge"><br><br>
		<div>
			<button class="btn btn-primary" ng-click="saveEmployee()">
			Save <span class="glyphicon glyphicon-ok"></span>
			</button>
			
		</div>
	</div>
	<br>
	<table class="table table-bordered">
		<thead>
			<th>Employee Name</th>
			<th>Employee Age</th>
			<!-- <th>Employee Key</th> -->
			<th>Edit Employee</th>
		</thead>
		<tbody ng-repeat="(key,employee) in employees">
			<tr>
				<td>{{employee.employeeName}}</td>
				<td>{{employee.employeeAge}}</td>
				<!-- <td>{{key}}</td> -->
				<td>
				<button class="btn btn-danger" ng-click="deleteEmployee(key, employee.employeeName)">
					delete <span class="glyphicon glyphicon-remove"></span>
				</button>
				</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<h3>Todo:</h3>
	<p>Fix the table clearing out on page refresh.</p>
</div>



