<div id="firebase-wrapper" style="">
  <header class="sub-header">
		<h2 style="font-weight:200;">Using Firebase API with Angular</h2>
		<p>Add/delete employees to/from firebase backend. Table is updated in real-time.</p>
	</header>

	<form class="form-inline" role="search">
		 <div class="form-group">
				 <!-- <label for="employeeName">Employee Name: </label> -->
				 <input type="text" id="employeeName" class="form-control" ng-model="employeeName"
				 	name="name" placeholder="Employee name" autofocus>
		 </div>
		 <div class="form-group">
				 <!-- <label for="employeeRole">Role: </label> -->
				 <input type="text" id="employeeAge" class="form-control" ng-model="employeeRole" name="role" placeholder="Employee role">
		 </div>
		 <button type="submit"class="btn btn-primary" ng-click="saveEmployee()">
				Save
			<span class="">
				<i class="fa fa-check"></i>
			</span>
		</button>
 </form>

 <table class="table table-bordered">
 	<thead>
 		<th>Employee Name</th>
 		<th>Role</th>
 		<!-- <th>Employee Key</th> -->
 		<th>Actions</th>
 	</thead>
 	<tbody ng-repeat="(key,employee) in employees">
 		<tr>
 			<td>{{employee.employeeName}}</td>
 			<td>{{employee.employeeRole}}</td>
 			<td>
 				<i class="fa fa-times fa-2x" ng-click="deleteEmployee(key, employee.employeeName)"></i>
 			</td>
 		</tr>
 	</tbody>
 </table>

</div><!-- ./end firebase-wrapper -->
