<p>This is the <b>home view</b> located at partials/home.html</p>
	
<!-- Simple ng-model example -->
<p>Example of <b>'ng-model'</b> directive used inside an input element to change the page header greeting dynamically via two-way binding.</p>
</p>Type in the text field below to change the page header greeting.</p>
<p>Hello, <input type="text" ng-model="greeting.name"></p> 
<br>
<h3>Using a custom directive to add button to page</h3>
<br>
<form action="submit()">
	<label for="username">Name:</label> <input value="Enter credentials here..." type="text" />
	<br><br>
	<default-button>Sign up!</default-button>
</form>

		