
<div class="grid">
	<div class="cell">
	  <h2>Todo</h2>
	</div>
	<div class="cell">
		<a href="#/vote">
			<h2>Voter</h2>
		</a>
	</div>
	<div class="cell">
		<h2>ngShow/Hide</h2>
	</div>
	<div class="cell">
		<a href="#/model">
			<h2>ngModel</h2>
		</a>
	</div>
	<div class="cell">
		<h2>ngClick</h2>
	</div>
</div>
<hr>
<!-- <br>
<h3>Using a custom directive to add button to page</h3>
<br>
<form action="submit()">
	<label for="username">Name:</label> <input value="Enter credentials here..." type="text" />
	<br><br>
	<default-button>Sign up!</default-button>
</form> -->
