<div class="home-wrapper">
	<div class="grid">
			<a href="#/firebase" class="cell">
				<h2>Firebase</h2>
			</a>
			<a href="#/filter" class="cell">
				<h2>Filter</h2>
			</a>
			<a href="http://maccana.github.io/quote/" class="cell">
				<h2>Tweet Quotes</h2>
			</a>
			<a href="https://ng2-spotify-search.herokuapp.com/search" class="cell">
				<h2>Ng2 Spotify</h2>
			</a>
			<a href="#/http" class="cell">
				<h2>$http</h2>
			</a>
			<a href="#/todo" class="cell">
			  <h2>Todo</h2>
			</a>
			<a href="#/vote" class="cell">
				<h2>Voter</h2>
			</a>
			<a href="#/timeout" class="cell">
				<h2>$timeout</h2>
			</a>
			<a href="http://maccana.github.io/responsive-web-pages/responsive-nav/flex-overlay.html" class="cell">
				<h2>Slide Menu</h2>
			</a>
			<a href="#/list" class="cell">
				<h2>Image Picker</h2>
			</a>
			<a href="#/color" class="cell">
				<h2>Random Color</h2>
			</a>
			<a href="https://mikeholygrail.herokuapp.com/" class="cell">
				<h2>Holy Grail</h2>
			</a>
			<a href="#/show-hide" class="cell">
				<h2>ngShow/Hide</h2>
			</a>
			<a href="#/model" class="cell">
				<h2>ngModel</h2>
			</a>
			<a href="#/login" class="cell">
				<h2>Login Form</h2>
			</a>
			<a href="#/contact-card" class="cell">
				<h2>Contact Card</h2>
			</a>
	</div>
</div>
