<!-- located at partials/home.html -->

<!-- Simple ng-model example -->
<header class="sub-header">
  <h2 style="font-weight:200;">{{ pageTitle }}</h2>
  <p>Example of the <b>ng-model</b> directive being used inside an input element to change
    the page header greeting dynamically via two-way binding.</p>
  </p>Type in the text field below to change the greeting at the top of the page.</p>
  <p><h2 id="model-hello">Hello,</h2> <input type="text" class="form-control" id="model-input" ng-model="greeting.name"></p>
</header>

<hr>
