.container{
	margin:auto;
	border: 0px solid red;
	width: 100%;margin-bottom:20px; 
}
.container ul {
	margin:auto;
	width: 100%;

}
.container ul li {
	list-style-type: none;
	font-family: helvetica;

	margin-bottom: 0px;
	border-bottom: 1px solid #fff;
	margin: auto;
	
	background-color: #eee;
	min-height: 20px;
	clear:both;
	border-radius:3px;
	padding: 10px; 
	line-height: 20px;
}

body {
	font-family: helvetica;
	background-color: #eee;
	color:666;
}

li span {font-size: 14px;color:green;line-height: 20px;margin-right:20px;}
#top {text-align:center;margin-top: 50px !important;margin-bottom: 30px!important;}
#top h1	{color:#10110f;}	
#top, #wrapper{width:500px;margin:auto;}
#wrapper {border: 1px solid #e7e7e7;margin-top:20px;padding:0px;padding-top: 0px;
background-color: #f1f1f1;color:#eee;border-radius: 3px;}
#top h1{text-align: ;color:#525252;font-size: 25px;font-family: helvetica;}
#name{float:left;border: 0px solid red;width: ; height: auto;line-height: 22px;}
img{float:left;border: 0px solid red;width: 15%; padding:1px;margin-right: 20px;text-align: center;}
#searchDiv {width:90%;margin: auto; margin-top: 30px;}
#search {width:80%;height: 25px;margin-bottom: 15px;}
#searchDiv label {margin-right: 10px;color:#666;font-family: helvetica;}


