[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak {
display:none!important;
}

#test {
width:150px;
height:50px;
border:1px solid red;
}

#page-wrapper {
border:0 solid green;
margin-top:112px;
margin-left:auto;
margin-right:auto;
}
.navbar-default {
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: 0;
}

#main {
margin-top:0;
padding:0;
}

header h1 {
font-family:helvetica;
font-weight:200;
margin-top:0;
}

#image-container {
width:50%;
border:0 solid red;
margin:auto;
padding:20px;
}

img {
width:100%;
}

.list-image {
min-height:200px!important;
}

.left-menu {
float:left;
margin-left:-25px;
margin-right:25px;
}

.left-menu ul li {
font-size:14px;
}

#ngUIRouterDemo p {
text-align:left;
}

#ngUIRouterDemo {
min-height:490px;
height:auto;
padding:0!important;
}

#ngUIRouterDemo ul li a {
text-decoration:none;
}

#main-menu li {
display:inline-block;
margin-right:20px;
}

.items-block {
text-align:center;
}

.img-responsive {
max-width:100%;
min-width:100%;
}

.done-true {
text-decoration:line-through;
color:grey;
}

.unstyled li {
list-style-type:none;
}

.blue {
color:blue;
}

.red {
color:red;
}

.large {
font-size:30px;
}

.italic {
font-style:italic;
}

#tapper {
width:300px;
height:300px;
background-color:red;
margin:10px;
}

#tapper,#print {
float:left;
display:inline;
}

header,#ngUIRouterDemo ul {
margin-bottom:30px;
}
