/* Custom styles for Angular-Template app */

[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak {
display:none!important;
}

a {
  color: #89898a;
}
ul li {
  list-style-type: none;
}
#test {
width:150px;
height:50px;
border:1px solid red;
}
#page-wrapper {
  margin-left:auto;
  margin-right:auto;
  max-width: 960px;
}
.nav navbar-nav {
  margin-top: 0px;
}
.navbar-default {
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  border: 0;
}
.navbar-brand {
  margin-right: 0px;
  margin-top: 5px
}
.fa-home {
  /*font-size: 19px;*/
}
/* Prevent page content from moving when scroll bar is added to browser window */
html {
  overflow-y: scroll;
}

#main {
  margin-top: 20px;
  /*padding: 0px 24px 24px 24px;*/
}

header h1 {
  font-family:helvetica;
  font-weight:200;
  margin-top:0;
}

#image-container {
  width:50%;
  border:0 solid red;
  margin:auto;
  padding:20px;
}

img {
  width:100%;
}
/* Firebase styles */

#firebase-wrapper .delete {
  background-color: red;
  color: white;
  border-radius: 3px;
  padding: 2px;
  font-size: 21px;
}

/* ToDo styles */

#todo-app {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e7e7e7;
}
#todo-overview {
  margin-bottom: 20px;
}
#todo-list {
  margin-bottom: 50px;
}
#todo-app ul li {
  padding: 5px 0px 5px;
  text-align: left;
  padding-left: 36px;
}
.todo-delete {
  color: #fff;
  background-color: red;
  padding: 4px;
  border-radius: 4px;
}
/*#todo-wrap h4 {
  margin-top: 0;
  margin-bottom: 0;
}*/

/* end todo styles */

/* Filter */
p>code {
    font-family: "Source Code Pro", Consolas, monospace;
    font-weight: 300;
    /*font-size: 0.9rem;*/
    color: #282917;
    background-color: #e8ca80;
    padding: 3px 4px;
    border-radius: 4px;
}

.list-image {
  min-height:200px!important;
}

.left-menu {
  float:left;
  margin-left:-25px;
  margin-right:25px;
}

.left-menu ul li {
  font-size:14px;
}

#ngUIRouterDemo p {
  text-align:left;
}

#ngUIRouterDemo {
  min-height:490px;
  height:auto;
  padding:0!important;
}

#ngUIRouterDemo ul li a {
  text-decoration:none;
}

#main-menu li {
  display:inline-block;
  margin-right:20px;
}

.items-block {
  text-align:center;
}
.img-responsive {
  max-width:100%;
  min-width:100%;
}
.done-true {
  text-decoration:line-through;
  color:grey;
}
.unstyled li {
  list-style-type:none;
}
.blue {
  color:blue;
}
.red {
  color:red;
}
.large {
  font-size:30px;
}
.italic {
  font-style:italic;
}

#tapper {
  width:300px;
  height:300px;
  background-color: rgb(51, 170, 170);
  margin:10px;
  transition: 0.5s;
}

#tapper,#hex-val {
  float:left;
  display:inline;
}

header,#ngUIRouterDemo ul {
  margin-bottom:30px;
}
#model-input {
  width: 50%;
  margin-top: 20px;
  margin-left: 18px;
  display: inline-block;
}
#model-hello {
  font-family: helvetica;
  width: 7%;
  float: left;
}
.cell {
  border: 1px solid rgba(136, 136, 136, 0.34);
}

/* From HTML5 BP project */
.responsive-image {
  max-width: 100%;
}
.cell img {
  display: block;
}
.cell {
  display: flex;
  /*text-align: -webkit-right;*/
  justify-content: center;
  align-items: center;
  max-height: 70px;
  min-height: 70px;
  background-color: transparent;
}
.cell h2 {
  margin: 0;
  color: #67728e;
}
.intro {
  margin-bottom: 30px;
}
/* ng-Show/Hide example */
#ng-show-hide-content img {
  opacity: 1; /* Resest from current app default img opacity */
  max-width: 75%;
}
#ng-show-hide-content {
  min-width: 80%;
  max-width: 80%;
  /*border: 1px solid #e7e7e7;*/
  margin: auto;
  text-align: center;
}
#ng-show-hide-content .button-wrap {
  margin-bottom: 0px;
}

/* Tablet & smaller */
@media screen and (max-width: 640px) {
  body {
    padding-top: 60px;
    text-align: -webkit-center;
  }
  #page-wrapper {
    max-width: 100%;
  }
  .left-menu {
    text-align: center;
    border: 1px solid #6b6868;;
    margin: 0px 15px 0px 15px;
    float: none;

  }
  .left-menu ul li {
    border: 1px solid #f7f7f7;
    color: aqua;
    font-size: 26px;
  }
  .cell {
    max-width: 100%;
    max-height: 58px;
    min-height: 58px;
    /*width: calc(50% - 2rem);*/
    /*width: calc(33.33333% - 2rem);*/
    /*margin-left: -1rem;*/
    margin-bottom: 1rem;
  }

  #firebase-wrapper .table-wrap {
    max-width: 95%;
  }
} /* ./end max-width 600px */

/* Adjustments for transition from tablet/phablet portrait to landscape */
@media screen and (min-width: 641px) {
  body {
    padding-top: 80px;
    font-size: 16px;
    line-height: 1.2;
  }
  h1 {
    /*margin-bottom: 30px;*/
  }
  p {
    font-size: 14px;
    line-height: 22px;
  }
  .page-header {
    /*margin-bottom: 44px;*/
  }

  /* login */
  .login-wrapper {
    max-width: 60%;
    margin: 60px auto;
  }
  /* Home */
  .home-wrapper {
    min-width: 100%;
    max-width: 100%;
    margin: 20px auto;
  }
 .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 }
 .cell {
    display: flex;
    /*width: calc(50% - 2rem);*/
    /*width: calc(33.33333% - 2rem);*/
    width: calc(25% - 2rem);
    margin: 1rem;
    transition: 0.3s;
 }
 .cell:hover {
   background-color: aliceblue;
 }
 .cell h2 {
   font-size: 22px; /* Adjust to keep text away from edges of cell */
 }
 .cell:hover h2 {
   color: #4d90fc !important;
 }
 #todo-app ul li {
   padding-left: 0px;
 }

 #firebase-page-header {
   margin-bottom: 40px;
 }
 #firebase-wrapper table th {
   background-color: azure;
 }

} /* ./end min-width: 641px */

/*@media screen and (min-width: 1000px) {
 .cell {
   /* Add gutters */
   /*width: calc(33.33333% - 1rem);*/
   /*width: calc(33.33333% - 2rem);*/
  /*}*/
/*}*/

/* Desktop & larger screens */
@media screen and (min-width: 800px) {
 /* Desktop styles go here */
 #page-wrapper {
   max-width: 960px;
 }
 img {
   opacity: .8;
   transition: all .5s ease;
   /*-webkit-backface-visibility: hidden;*/
   /*-webkit-transform: rotate(0);
   -moz-transform: rotate(0);
   transform: rotate(0);*/
 }
 a {-webkit-transform: rotate(0);}
 a img {-webkit-backface-visibility: hidden;}
 img:hover {
   opacity: 1;
 }
 .cell h2 {
   font-size: 28px;
 }
 #todo-ip {
   max-width: 40%;
 }


} /* ./end desktop & larger styles */
