/* Global styles */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#test {
	width: 150px;
	height:50px;
	border:1px solid red;
}

#page-wrapper {
  border:0px solid green;
	margin-top:112px;
	margin-left: auto;
	margin-right: auto;
	/*width:68%;*/
}
.content {
	/*position: relative;
	overflow: hidden;*/
}
#main {
	padding:0px;
	margin-top:0px;
}
header {
	margin-bottom:30px;
}
header h1 {
	font-family:helvetica;
	font-weight:200;
	margin-top:0px;
}
#image-container {
	width:50%;
	margin:auto;
	border:0px solid red;
	padding:20px;
}
img {
	width:100%;
}
.list-image {
	min-height: 200px !important;
}

/* Main Left Menu */
.left-menu {
  float: left;
	margin-left: -25px;
	margin-right: 25px;
}

.left-menu ul {}

.left-menu ul li { font-size: 14px; }
/* Angular-UI-Router section styles */
#ngUIRouterDemo p{
	text-align: left;
}
#ngUIRouterDemo {
	min-height: 490px;
	padding:0px !important;
	height: auto;
}
/* Top menu buttons */
#ngUIRouterDemo ul {
	margin-bottom: 30px;
}
#ngUIRouterDemo ul li a{
	text-decoration: none;
}
#main-menu li {
	display: inline-block;
	margin-right: 20px;
}


/* -------------------------------------  Shopping list style ------------------------------------- */

.items-block {
    text-align: center;
}
/*.list {
	min-height: auto !important;
	overflow: hidden;
}
.list ul {
	margin-left: 0px !important;

	background-color: #555;
	color: #f1f1f1;
}
.list a {
	display:block;
	font-size:20px; 
	padding:3px;
	width: 20%;
	
}*/
.img-responsive { max-width: 100%; min-width: 100%; }
/* --------------------------------------- Todo app style ---------------------------------------- */
.done-true {
  text-decoration: line-through;
  color: grey;
}
.unstyled li {
	list-style-type: none;
}

/* --------------------------------------- Change CSS app style ---------------------------------- */

.blue {
  color:blue;
}
.red {
	color:red;
}
.large {
	font-size:30px;
}
.italic {
  font-style:italic;
}

/* --------------------------------------- Change Color app style ---------------------------------- */
#tapper {
	margin: 10px;
	width: 300px;
	height: 300px; background-color: #f00;
}
#tapper, #print {
	float:left;
	display: inline;
}