/* Global styles */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#test {
	width: 150px;
	height:50px;
	border:1 px solid red;
}
#page-wrapper {
	width:80%;
	margin: auto;
	border: 0px solid red;
	margin-top:90px;
}
.content {
	position: relative;
	overflow: hidden;
}
#main {
	padding: 0px;
	margin-top:0px;
}
header {
	margin-bottom:30px;
}
header h1 {
	font-family: helvetica;
	font-weight: 200;
}
#image-container {
	width:50%;
	margin:auto;
	border:0px solid red;
	padding:20px;
}
img {
	width:100%;
}
.list-image {
	min-height: 200px !important;padding: 20px;
}
/* Main Left Menu */
.left-menu {
	margin-top: 0px;
	border: 1px solid #e1e1e1;
	padding: 0px;
	overflow: hidden;
	width:140px;
	margin-right: 50px;
	float:left;
}
.left-menu ul {
	padding:0px;
}
.left-menu ul li {
	font-size: 16px;

}
/* -------------------------- Angular-UI-Router section styles */
#ngUIRouterDemo p{
	text-align: left;
}
#ngUIRouterDemo {
	min-height: 490px;
	padding:0px !important;
	height: auto;
}
/* Top menu buttons */
#ngUIRouterDemo ul {
	margin-bottom: 30px;
}
#ngUIRouterDemo ul li a{
	text-decoration: none;
}
#main-menu li {
	display: inline-block;
	margin-right: 20px;
}

/* -------------------------------------  Shopping list style ------------------------------------- */

.items-block {
	overflow: hidden;
	width: 120px;
	margin-right: 30px;
	float:left;
}
/*.list {
	min-height: auto !important;
	overflow: hidden;
}
.list ul {
	margin-left: 0px !important;

	background-color: #555;
	color: #f1f1f1;
}
.list a {
	display:block;
	font-size:20px; 
	padding:3px;
	width: 20%;
	
}*/
.img-responsive {
	width:25%;
	float:left;
	
}
/* --------------------------------------- Todo app style ---------------------------------------- */
.done-true {
  text-decoration: line-through;
  color: grey;
}
.unstyled li {
	list-style-type: none;
}

/* --------------------------------------- Change CSS app style ---------------------------------- */

.blue {
    color:blue;
}
.red {
	color:red;
}
.changeSize {
	font-size:30px;
}
.italic {
    font-style:italic;
}